body{
	margin: 0;
	padding: 0;
}
#text{
	width: 50vw;
	height: 20vh;
}
#show{
	display: flex;
	flex-direction: row;
}
#output{
	width: 50vw;;
	height: 50vh;
	overflow-y: scroll;
	font-size: 12px;
}
#copy{
	margin: auto 0;
	height: fit-content;
}